{
  "endOfLine": "auto",
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "importOrder": ["^src/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "formatOnSave": true
}
